/* FONTS
------------------------------------------------ */

@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/HelveticaNeue-Bold.woff2') format('woff2'),
        url('fonts/HelveticaNeue-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/HelveticaNeue.woff2') format('woff2'),
        url('fonts/HelveticaNeue.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeue';
    src: url('fonts/HelveticaNeueMedium.woff2') format('woff2'),
        url('fonts/HelveticaNeueMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

%font-light {
  font-weight:300;
}
%font-padrao {
	font-family: 'Helvetica Neue';
	font-weight: normal;
}
%font-medio {
	font-family: 'Helvetica Neue';
	font-weight: 500;
}
%font-bold {
	font-family: 'Helvetica Neue';
	font-weight: bold;
}
%font-extra {
  font-weight:800;
}

/* FONT AWESOME
------------------------------------------------ */
@import "font-awesome";
