*.zip
*.rar
*.tar
*.tar.gz
*.psd
.sass-cache
.phpintel
node_modules
!wordpress/
wordpress/*
!wordpress/wp-content/
wordpress/wp-content/*
!wordpress/wp-content/themes/
wordpress/wp-content/themes/*
!wordpress/wp-content/themes/urbanizze/
